<%- include ("./partials/header.ejs")%>
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-6lg">
				<h3>M.V. Hagey</h3>
				<p>Marcus Hagey is a student of Accounting at Florida Atlantic University in South Florida.  He is a journeyman in religious studies, philosophy, and theology.  He moved to Florida in early 2018 amidst a battle with alcoholism.  He became sober exactly one year later.  He is a devout Christian who only occassionally cavorts with prostitutes and enjoys the finer things in life such as huffing paint and using racial slurs.</p>
			</div>
		</div>
	</div>
</div>
<%- include ("./partials/footer.ejs")%>